.loading-component {
    height: 50%;
    overflow: hidden;
    padding: 5px;
    width: 100%;

    .icon-container {
        animation: rotate-icon infinite 4.5s linear;
        height: 70px;
        left: 9%;
        position: absolute;
        top: 73%;
        transform: rotate(312deg);
        width: 70px;

        .icon {
            transition: all 0.5s cubic-bezier(0.51, 0.1, 0.46, 1.22);
        }
    }

    &__half-circle {
        animation: rotate-container infinite 4.5s linear;
        border: 1px solid #999;
        border-radius: 100%;
        display: flex;
        flex: 1;
        height: 200%;
    }

    &__text {
        font-size: 45px;
        position: absolute;
        top: 71%;
        right: 45%;
    }

    &--xs {

    }

    &--s {

    }

    &--m {

    }

    &--l {

    }

    &--xl {

    }
}

@keyframes rotate-icon {
   from { transform:rotate(312deg) }
   to { transform:rotate(110deg) }
}

@keyframes rotate-container  {
    from { transform: rotate(35deg) }
    to { transform: rotate(255deg) }
}