.icon {
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 1s linear;

    &-sun {
        background-image: url('../resources/icons/sun.svg');
    }

    &-cloud {
        background-image: url('../resources/icons/clouds.svg');
    }

    &-moonrise {
        background-image: url('../resources/icons/moonrise.svg');
    }
}