.icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 100%;
    width: 100%;

    &-sun {
        background-image: url('../resources/icons/sun.svg');
    }

    &-sun-and-clouds {
        background-image: url('../resources/icons/sun_and_clouds.svg');
    }

    &-sun-and-fog {
        background-image: url('../resources/icons/sun_and_fog.svg');
    }

    &-sun-and-rain {
        background-image: url('../resources/icons/sun_and_rain.svg');
    }

    &-sun-and-wind {
        background-image: url('../resources/icons/sun_and_wind.svg');
    }

    &-sun-morning {
        background-image: url('../resources/icons/sun_morning.svg');
    }

    &-sun-evening {
        background-image: url('../resources/icons/sun_evening.svg');
    }

    &-clouds {
        background-image: url('../resources/icons/clouds.svg');
    }

    &-heavy-rain {
        background-image: url('../resources/icons/heavy_rain.svg');
    }

    &-moonrise {
        background-image: url('../resources/icons/moonrise.svg');
    }

    &-moonset {
        background-image: url('../resources/icons/moonset.svg');
    }

    &-rain {
        background-image: url('../resources/icons/rain.svg');
    }

    &-moon-and-snow {
        background-image: url('../resources/icons/moon_and_snow.svg');
    }

    &-moon-and-rain {
        background-image: url('../resources/icons/moon_and_rain.svg');
    }

    &-moon-and-clouds {
        background-image: url('../resources/icons/moon_and_clouds.svg');
    }

    &-moon-and-fog {
        background-image: url('../resources/icons/moon_and_fog.svg');
    }

    &-moon-and-storm {
        background-image: url('../resources/icons/moon_and_storm.svg');
    }

    &-snow {
        background-image: url('../resources/icons/snow.svg');
    }

    &-wind {
        background-image: url('../resources/icons/wind.svg');
    }

    &-storm {
        background-image: url('../resources/icons/storm.svg');
    }
}