.app {
    text-align: center;

    &-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 40vmin;
        pointer-events: none;
    }

    &-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }

      &-link {
        color: #61dafb;
      }

}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.root {
    &-view {
        background: lightgray;
        height: 100vh;
    }

    &-container {
        background: white;
        height: 70%;
        margin: 0 10% 36px;
        width: auto;
        padding-top: 150px;
    }
}

.loader-container {
    height: 400px;
	width: 400px;
    margin: 0 auto;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}